header{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: #000;*/
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container .coloum{
    width: 20%;
    height: 100%;
    float: left;
    border-right: 2px solid rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 1;
}
.container .coloum:last-child
{
    border-right:none ;
}
.container .coloum .content{
    position: relative;
    height: 100%;  
}
.container .coloum .content h1{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width:100% ;
    background:rgba(0,0,0,.1);
    text-align: center;
    margin: 0;
    padding: 0;
    color:rgba(255, 255, 255, .2);
    font-size: 15em;
    border-top: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);

}
.container .coloum .content .box{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    box-sizing: 40px;
    background: rgba(255, 255, 255, 1) ;
    text-align: center;
    transition: 0.5s;
    opacity: 0; 
}
.container .coloum.active .content .box{
    opacity: 1;
    transform: translateY(-50%);
}
.container .coloum .content h2{
    margin: 0;
    padding: 0;
    font-size:30px;
}
.container .coloum .content p{
    columns: #262626;
    font-size: 18px;
}
.container .coloum .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.container .coloum.active .bg.bg1{
    background: url('pubgwallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s
}
.container .coloum.active .bg.bg2{
    background: url('about1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s
}
.container .coloum.active .bg.bg3{
    background: url('about.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s
}
.container .coloum.active .bg.bg4{
    background: url('pubgmobilejpg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s
}
.container .coloum.active .bg.bg5{
    background: url('pubgmobilejpg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s
}